LOCATE COMP "clk" SITE "P3";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

# Botão no T2 com PULL-DOWN
LOCATE COMP "rst" SITE "T2";
IOBUF PORT "rst" IO_TYPE=LVCMOS33 PULLMODE=DOWN;

LOCATE COMP "servo_pin" SITE "L4";
IOBUF PORT "servo_pin" IO_TYPE=LVCMOS33;

LOCATE COMP "led_verde" SITE "N4";
IOBUF PORT "led_verde" IO_TYPE=LVCMOS33;

LOCATE COMP "led_verm" SITE "P16";
IOBUF PORT "led_verm" IO_TYPE=LVCMOS33;